INFLUXDB_IMAGE=influxdb:2.7-alpine
INFLUXDB_PORT=8086

INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=adminpass
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=default
INFLUXDB_RETENTION=0
INFLUXDB_ADMIN_TOKEN=local-dev-token

TELEGRAF_IMAGE=telegraf:1.30-alpine
INFLUXD_REPORTING_DISABLED=true
