FEAST_IMAGE=quay.io/feastdev/feature-server:0.66.0
FEAST_REPO_PATH=./feature_repo
FEAST_CONFIG_DIR=/feature_repo
FEAST_BIND_HOST=0.0.0.0

ONLINE_PORT=6566
OFFLINE_PORT=8815
REGISTRY_PORT=6570
REGISTRY_REST_PORT=6572
FEAST_UI_PORT=8888

FEAST_UI_CONTAINER_NAME=feast-ui
ONLINE_CONTAINER_NAME=online-feature-server
OFFLINE_CONTAINER_NAME=offline-feature-server
REGISTRY_CONTAINER_NAME=registry-feature-server

FEAST_USAGE=local
FEAST_LOG_LEVEL=INFO
