# W&B
WANDB_PORT=8080
WANDB_VOLUME=./wandb_data

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
AWS_REGION=us-east-1

# PostgreSQL
POSTGRES_DB=wandb
POSTGRES_USER=wandb
POSTGRES_PASSWORD=wandbpass
